@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

header{
    height: 110px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
}

nav{
    width: 60%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family:'kadam thmor pro' sans-serif;
}

li:hover{
    color: rgb(212, 165, 35);
}
#logo{
    width: 150px;
    height: auto;
}
@media(max-width: 768px){
    nav{
        display: none;
    }
    #logo{
        width: 150px;
        height: auto;
        display: block;
    }
}